<!DOCTYPE html>
<html>
    <head>
      <title>Stackmin</title>
      <link rel="stylesheet" href="style.css"/>
    </head>
  <body ng-app="Cloudmin">
    <form>
      <fieldset ng-controller="ConnectionCtrl">
        <legend>Management Server</legend>

        <label for="url">API URL: </label>
        <input id="url" ng-model="connectionSettings.url">

        <label for="key">API Key: </label>
        <input id="key" ng-model="connectionSettings.key">
      
        <label for="secret">API Secret: </label>
        <input id="secret" ng-model="connectionSettings.secret">
      
        <button id="connect" ng-click="connect()">Connect</button>
      </fieldset>
    
      <fieldset ng-controller="DeployCtrl">
        <legend>Deploy an instance</legend>
        <label for="templates">Template*: </label>
        <select id="templates" ng-model="template" ng-options="template.id as template.name for template in templates"></select>

        <label for="zones">Zone*: </label>
        <select id="zones" ng-model="zone" ng-options="zone.id as zone.name for zone in zones"></select>

        <label for="networks">Networks*: </label>
        <select id="networks" ng-model="network" ng-options="network.id as network.name for network in networks"></select>

        <label for="services">Service*: </label>
        <select id="services" ng-model="service" ng-options="service.id as service.name for service in services"></select>

        <br />

        <label for="name">Name</label>
        <input id="name" ng-model="name">

        <label for="ipaddress">IP:</label>
        <input id="ipaddress" ng-model="ipaddress" />

        <button id="deploy" ng-click="createVm()" ng-disabled="deploying">Deploy</button>
      </fieldset>
    </form>
    <h2>Virtual machines</h2>
    <div ng-controller="InstanceCtrl">
      <div id="vminfo" ng-hide="!vmInfo">
          <p>Name: {{vmInfo.displayname}} ({{vmInfo.instancename}})</p>
          <div>Networks:
              <ul>
                  <li ng-repeat="net in vmInfo.nic">{{net.ipaddress}} ({{net.networkname}})</li>
              </ul>
          </div>
          <p>CPU: {{vmInfo.cpunumber}}x {{vmInfo.cpuspeed / 1000}} GHz</p>
          <p>RAM: {{vmInfo.memory / 1024}} GB</p>
          <p>Network I/O: {{(vmInfo.networkkbsread/1024.0).toFixed(2)}} MB in / {{(vmInfo.networkkbswrite / 1024.0).toFixed(2)}} MB out</p>
          <p>
            <button ng-click="startVm(vmInfo.id)" ng-show="vmInfo.state == 'Stopped'" ng-disabled="msg != ''">Start</button>
            <button ng-click="stopVm(vmInfo.id)" ng-show="vmInfo.state == 'Running'" ng-disabled="msg != ''">Stop</button>
            <button ng-click="rebootVm(vmInfo.id)" ng-disabled="msg != ''">Reboot</button>
            <button ng-click="deleteVm(vmInfo.id)" ng-disabled="msg != ''">Delete</button>
          </p>
          <p>{{msg}}</p>
      </div>
      <ul id="vms">
        <li ng-repeat="vm in instances" ng-click="showVm(vm.id)" ng-class="{stopped: vm.state == 'Stopped', running: vm.state == 'Running' }">{{vm.displayname || vm.instancename}}</li>
      </ul>
    </div>    
    
    <script src="lib/module.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="js/svc.js"></script>  
    <script src="js/ctrl.js"></script>  
  </body>
</html>