html, body {
  overflow: auto;
}

#vms {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 49%;
}

.ng-hide { display: none; }

#vminfo {
  position: fixed;
  right: 0px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 49%;
}