html, body {
  overflow: auto;
}

#vms {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 49%;
}

.ng-hide { display: none; }

.running { color: #6a6; }
.stopped { color: #a66; }

#vminfo {
  position: fixed;
  right: 0px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 49%;
}